---
- name: Copy Netplan file with fist NIC configuration
  copy:
    src: "{{ netplan_local }}"
    dest: "{{ netplan_target }}"
    owner: root
    group: root
    mode: '0644'
    backup: true

- name: Commands netplan generate and netplan apply
    
