---
# tasks file for squid

- name: Instalar Squid
  ansible.builtin.package:
    name: squid
    state: present

- name: Copiando squid.conf
  copy:
    src: files/squid.conf
    dest: /etc/squid/squid.conf
    owner: root
    group: root
    mode: '0644'
    backup: true

- name: Recarregando Squid
  ansible.builtin.service:
    name: squid
    state: restarted  
